/* education.css - EduHack Styling */

section {
  animation: slideIn 1.2s ease;
}

input {
  border: 1px solid #334155;
  transition: all 0.2s;
}

input:focus {
  background-color: #1f2937;
  border-color: #38bdf8;
}

button:hover {
  background-color: #0ea5e9;
  box-shadow: 0 0 8px #38bdf8;
  transform: scale(1.03);
}

/* Slide in animation */
@keyframes slideIn {
  0% {
    transform: translateX(-20px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
